/*the body contains the main style of my page.*/
body {
    font-family: verdana;
    color: black;
    font-size: 12px;
    background-color: white;
    border-style: none;
}
/*sets the background for the home page*/
.galaxy {
    background-image: url(https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif);
}
/*styles the welcome img of the home page.*/
.background img {
    border-style: none;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.firstSection {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.buttonAboutMe {
    margin-left: 400px;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    text-align: center;
    padding: 16px 50px;
    border-style: none;
    background-color: black;  
    text-decoration: none; 
}
.buttonAssignments {
    margin-top: 30px;
    margin-left: 375px;
    margin-right: auto;
    margin-bottom: 150px;
    text-align: center;
    font-size: 30px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    padding: 16px 50px;
    border-style: none;
    background-color: black; 
}
.buttonAboutMe a, .buttonAssignments a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    
}
.buttonAboutMe:hover, .buttonAssignments:hover {
     background-color: lightcoral;
}
/*styles the topmenu of the home page*/
.topmenu {
    list-style-type: none; /*Removes the bullets of the list element
    margin-top: 160px;
    background-color: none;
    overflow: hidden;
    border-style: none;
    padding: 0;
    margin-left: 350px;
    margin-right: 330px;
}
#aboutme {
    float: left;  
}
#assignments {
    float: right;
    
}
styles the links of the topmenu
.topmenu li a {
    font-size: 30px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 50px;
    text-decoration: none; 
    border-style: none;
    background-color: none;
}
creates a special effect when the mouse hovers over the topmenu
.topmenu li a:hover {
    background-color: lightcoral;*/
}
/*styles the about me img on the home page*/
.myimage img {
    margin-left: auto;
    margin-right: 400px;
    float: right;
    height: 300px;
    width: 250px;
}
/*styles the sidemenu, by defining the height, width, postion and border*/
.sidemenu {
    background-image: url(https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif);
    width:  250px;
    position: fixed;
    border-right: 2px groove white;
	max-height: calc(100vh - 1rem);
    overflow-y: auto;
    top: 0;
    bottom: 0;
}
/*styles the unordered list. The most importent style element here is the list-style-type, because it removes the bullets of the list intems.*/
.sidemenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/*styles the color, size and text-align of the list intems*/
.sidemenu li {
    text-align: center;
    font-size: 12px;
    color: white;
    background-color: black;
}
/*styles the links in the sidemenu*/
.sidemenu li a {
    padding-left: 100px;
    margin-bottom: 4px;
    display: block;
    padding: 8px;
    text-decoration: none;
    font-size: 23px;
    background-color: black;
    color: white;
    text-align: center;
}
/*creates a special effect when you hover over the link*/
.sidemenu li a:hover {
    background-color: lightcoral;
    color: white;
}
/* the sidebar floats to the left of its container*/
.column {
    grid-column-start:1; 
    grid-column-end:2; 
    grid-row-start:1; 
    grid-row-end:4; 
    float: left;
    padding: 15px;
}
/*styles the img in the sidebar*/
.sidemenu li img{
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}
/*styles the dropdown menu. The display elemenet is the most relevant one, because it lets the dropdown menu disapear.*/
.dropdown {
    font-family: 10px;
    display: none;
}
/*this style actives the dropdown menu, when the mouse hovers over the project management link*/ 
.active:hover>ul{
    display: block;
}
/*styles the texts in of all the pages except the home page*/
.aboutme, .pjmanagement, .assignments, .design, .lasercut, .print, .electro{
    grid-column-start:2; 
    grid-column-end:5; 
    grid-row-start:1; 
    grid-row-end:8;
    font-family: Comic Sans MS;
    font-size: 16px;
    text-align: center;
}
.pjmanagement2 {
    font-family: Comic Sans MS;
    font-size: 16px;
    text-align: center;
    grid-column-start:2; 
    grid-column-end:5; 
    grid-row-start:6; 
    grid-row-end:7;
}
.pjmanagement3 {
    font-family: Comic Sans MS;
    font-size: 16px;
    text-align: center;
    grid-column-start:2; 
    grid-column-end:5; 
    grid-row-start:8; 
    grid-row-end:9;
}
/*styles the img from the about me page*/
.aboutme img {
    float: left;
    height: 300px;
    width: 250px;
    padding: 40px 20px;
}
.aboutme {
    overflow: auto;
}
.aboutme p {
    text-align: center;
}
.aboutme h1, .pjmanagement h1, .design h1, .lasercut h1, .print h1, .electro h1{
    font-family: Trebuchet MS;
    font-size: 30px;
}
.assignments h1 {
    grid-column-start: 2;
    grid-column-end: 3;
    font-family: Trebuchet MS;
    font-size: 30px;
    text-align: center;
    margin-right: 70px;
}

.htmlcode { 
    margin-top: 150px;
    align-items: center;
    grid-column-start:2; 
    grid-column-end:5; 
    grid-row-start:5; 
    grid-row-end:6;
    text-align: left;
    font-size: 13px;
    color: grey;
    font-family: courier new;
    border: 2px groove lightgray;
    padding: 10px;
    overflow: scroll;
    height: 500px;
    background-color: aliceblue;
}
.csscode { 
    grid-column-start:2; 
    grid-column-end:5; 
    grid-row-start:7; 
    grid-row-end:8;
    text-align: left;
    font-size: 13px;
    color: gray;
    font-family: courier new;
    border: 2px groove lightgray;
    padding: 10px;
    overflow: scroll;
    height: 500px;
    background-color: aliceblue;
}
.links {
    font-weight: bold;
    color: coral;
    text-decoration: none;
}
.comments {
    color: coral;
}
#gitlab {  
    grid-column-start:2; 
    grid-column-end:5; 
    grid-row-start:1; 
    grid-row-end:8;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}
#deer {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 300px;
    height: 400px;
}
#design {
    grid-column-start:2; 
    grid-column-end:5; 
    grid-row-start:1; 
    grid-row-end:8;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#sketch {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 600px;
}
#file {
    font-weight: bold;
    color: coral;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}
#pics {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 600px;
}
#smallpics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 500px;
}
#smallpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}
#fotos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 800px;
}
#minipic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 300px;
}
video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 500px;
}
#board {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 600px;
}
.prettyprint {
    text-align: left;
    font-size: 15px;
    color: grey;
    font-family: courier new;
    border: 2px groove lightgray;
    padding: 10px;
    overflow: scroll;
    margin-bottom: 50px;
    height: 500px;
    background-color: aliceblue;
}
.container {
  margin-bottom: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
  position: relative;
  width: 30%;
}
.container2 {
  margin-bottom: 20px;
  grid-column-start: 3;
  grid-column-end: 4;
  position: relative;
  width: 30%;
}
.image {
  display: block;
  width: 450px;
  height: 250px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 450px;
  height: 250px;
  opacity: 0;
  transition: .5s ease;
  background-color: lightcoral;
}

.container:hover .overlay {
  opacity: 1;
}
.container2:hover .overlay {
  opacity: 1;
}
.text a {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}

.clearfix {
  height:100vh; 
  display: grid; 
  grid-template-rows: 200px 1fr 100px; 
  grid-template-columns: repeat(3, 23% 25% 25% 25%); 
}
.fix {
  display: grid; 
  grid-template-columns: 350px 500px 500px;
}
table {
  font-family: verdana;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
